:root {
  --clr-primary: #E14D2A;
  --clr-secondary: #FBC223;

  --spacing: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-primary);
  font-family: 'Raleway', sans-serif;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  transition: opacity 200ms ease-in-out;
  font-family: inherit;
  font-size: 2rem;
  padding: 0.3rem;
}
.btn:hover {
  opacity: 0.7;
}

/*HEADER*/
.header {
  display: grid;
  place-items: center;
  margin-top: var(--spacing);
}
.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}
.logo img {
  width: 60px;
  height: auto;
}
.title {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 3rem;
}
.subtitle {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: var(--clr-secondary);
  opacity: 0.7;
}

/*MAIN*/
.main {
  display: grid;
  gap: var(--spacing);
  justify-content: center;
  margin-top: var(--spacing);
}
@media (min-width: 750px) {
  .main {
    grid-template-columns: 250px 450px;
  }
}
/*ALL TASKS*/
.all-tasks {
  color: whitesmoke;
  padding: var(--spacing);
  margin-top: var(--spacing);
}
.task-list-title {
  font-size: 1.3rem;
}
.task-list {
  list-style: none;
  padding-left: var(--spacing);
}
.list-name {
  cursor: pointer;
  margin: var(--spacing) 0;
}
.list-name.active-list {
  color: var(--clr-secondary);
  font-weight: 700;
}
.list-name:hover {
  opacity: 0.7;
}
/*FORM NEW ITEM*/
.new-item-form {
  display: flex;
  align-items: center;
}
.new-item-input {
  order: 2;
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  padding: 0.3rem;
  border-bottom: 2px solid currentColor;
}
.new-item-input:focus::placeholder {
  opacity: 0.2;
}
.new-item-input:focus {
  border-color: var(--clr-secondary);
}
/*TODO LIST*/
.todo-list {
  --spacing-sm: 0.3rem;
  --clr-grey: #D4D4D4;
  background-color: whitesmoke;
}
@media (max-width: 750px) {
  .todo-list {
    width: 90vw;
  }
}
.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--spacing);
  gap: var(--spacing-sm);
  background-color: var(--clr-grey);
}
.list-title {
  font-size: 2rem;
}
.task-count {
  opacity: 0.7;
}
.todo-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
}
.task {
  position: relative;
  border-bottom: 2px solid var(--clr-grey);
}
[type="checkbox"] {
  position: absolute;
  outline: none;
  right: 100%;
  opacity: 0;
}
.task label {
  --size: 1.2rem;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: calc(var(--size) / 2);
  padding: var(--spacing) 0.3rem;
}
.custom-checkbox {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--clr-primary);
  transform: scale(1);
  transition: box-shadow 200ms ease-in-out;
}
.task:hover label,
[type="checkbox"]:focus + label {
  color: var(--clr-primary);
}
.task:hover label .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.1);
}
[type="checkbox"]:checked + label .custom-checkbox {
  box-shadow: inset 0 0 0 6px var(--clr-primary);
}
.task label::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: currentColor;
  right: 0;
  transition: width 200ms ease-in-out;
}
[type="checkbox"]:checked + label::after {
  width: calc(100% - var(--size) - var(--size) / 2);
}
.new-todo-input:focus {
  border-color: var(--clr-primary);
}
.delete-buttons {
  display: flex;
  justify-content: space-evenly;
}
.delete-button {
  font-size: 0.8rem;
}
